[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ezequias2d/imgui.git
[submodule "ext/qu3e"]
	path = ext/qu3e
	url = https://github.com/ezequias2d/qu3e
[submodule "ext/lua"]
	path = ext/lua
	url = https://github.com/ezequias2d/lua
