name: build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: xmake-io/github-action-setup-xmake@v1
    - name: Build
      run: xmake -y -vD
